page-home {
  .bg {
    color: white;
    background-color: #5da913;
  }
  .image {
    height: 5vw;
    width: 5vw;
    border: 2px solid #fff;
    border-radius: 50%;
    box-shadow: 0 0 5px gray;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
  }

  .circle-pic {
    width: 50px;
    height: 50px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
  }

  .center {
    margin-left: 25%;
    padding: 10px;
  }

  .text2 {
    margin-left: 30%;
  }

  .center2 {
    margin-left: 20%;
    padding: 10px;
    margin-top: 50%;
  }

  .textcenter {
    margin-left: 42%;
  }

  .item-complex .item-content {
    background-color: transparent !important;
    color: white;
  }
}
ion-item {
  border-radius: 30px !important;
  padding-left: 30px !important;
  font-size: 0.9em;
  margin-bottom: 10px;
  border: 1px solid #ffffff;
  border-bottom: 0px !important;
  box-shadow: none !important;
}

ion-spinner {
  background-color: transparent;
  color: white;
}

ion-loading.my-loading-class {
  .loading-wrapper {
    background: rgba($color: #ccc, $alpha: 0.1);
    box-shadow: none;
    color: white;
  }
}
