page-product-view {
  
  ion-header{
    // height: 10vh !important;
    z-index: 9999;
  }

  ion-scroll {
    white-space: nowrap;
    height: 49vh;
  }

  .loc-color {
    color: #5da913;
  }

  ion-menu .scroll-content {
    overflow-y: auto; // or "overflow: auto;"
  }

  ion-spinner {
    background-color: transparent;
    color: white;
  }

  ion-loading.my-loading-class {
    .loading-wrapper {
      background: transparent;
      box-shadow: none;
      color: white;
    }
  }

  .footer {
    
    .btn-add-location {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        text-align: center;
        border-color: #5DA913;
        color: #5DA913;
        height: 8vh;
        font-size: 18px;
        max-width: 90%;

      }
  }
}