<ion-content padding style="background-color: #E6E6E6;height:72%important;">
  <p text-right style="margin-bottom: 0px;margin-top: 0px;font-weight: bold;" (click)="dismiss()">X</p>
  <p text-center>Product Name</p>
  <ion-item>
    <!-- <ion-label fixed></ion-label> -->
    <ion-input type="text" placeholder="Enter Product Name" [disabled]="true" [(ngModel)]="designation"></ion-input>
  </ion-item>
  <p text-center style="font-size:16px;">SCAN LOCATION</p>
  <div text-center>
    <img src="{{scan}}" (click)="scanLocation()" style="width:100px;height:100px;margin-top:2%" />
  </div>
  <p text-center>or Enter Product Location Manually</p>
  <ion-list>
    <ion-item>
      <ion-label>Department :</ion-label>
      <ion-select [(ngModel)]="newLocation.grid_no">
        <ion-option value="{{grid}}" *ngFor="let grid of grids">{{grid}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="margin-top: 10px;">
      <ion-label>Aisle No :</ion-label>
      <ion-select [(ngModel)]="newLocation.isle_no">
        <ion-option value="{{isle}}" *ngFor="let isle of isles">{{isle}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="margin-top: 10px;">
      <ion-label>Shelf No :</ion-label>
      <ion-select [(ngModel)]="newLocation.shelf_no">
        <ion-option value="{{shelf}}" *ngFor="let shelf of shelves">{{shelf}}</ion-option>
      </ion-select>
    </ion-item>
    <ion-item style="margin-top: 10px;">
      <ion-label>Height :</ion-label>
      <ion-select [(ngModel)]="newLocation.height">
        <ion-option value="{{height}}" *ngFor="let height of heights">{{height}}</ion-option>
      </ion-select>
    </ion-item>
  </ion-list>
  <button ion-button block outline round (click)="addLocation()" style="background-color:#5DA913;color:white;height: 50px;font-size:  18px;border-color: #5DA913"
    [disabled]="!newLocation.grid_no || !newLocation.isle_no || !newLocation.shelf_no || !newLocation.height">{{buttonLabel}}</button>
</ion-content>