// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
.item-md.item-input.input-has-focus .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  
  .list-md .item-input.input-has-focus:last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  
  .list-md .item-input.input-has-focus:last-child .item-inner {
    box-shadow: none;
  }
  
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  
  .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
    box-shadow: none;
  }

  .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  
  .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
    border-bottom-color: transparent !important;
    box-shadow: none !important;
  }
  
  .scroll-content {
    overflow: hidden;
  }
  
  ion-header{
    // height: 10vh !important;
    z-index: 9999;
  }
  .footer {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #6ab02614;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100vw;
    height: 10vh;
    padding: 1vh;
  }

  ion-scroll {
    height: 49vh;
  }

  @media screen and (max-height: 568px) {
   ion-scroll {
      height: 40vh;
    }
  }
  @media screen and (max-height: 480px) {
   ion-scroll {
      height: 30vh;
    }
  }