page-scanned-location {
}

.loc-color {
  color: #5da913;
}

ion-spinner {
  background-color: transparent;
  color: white;
}

ion-loading.my-loading-class {
  .loading-wrapper {
    background: transparent;
    box-shadow: none;
    color: white;
  }
}

ion-scroll {
  white-space: nowrap;
}
